{% load static %}
{% comment %} {% if messg %}
	<script>
		alert('{{ messg }}')
	</script>
{% endif %} {% endcomment %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Registration Page{% endblock %}</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <main>
    <div style="text-align: center; background-color: #000; color : #FFF;">
         <div style="padding: 20px;">
            <h2>Community Application<br> Registration Page</h2>
            <p>Register from here to apply for a community.</p>
         </div>
      </div>
      <div>
         <div class="col-md-4 col-sm-12">
            <div style = "margin-top: 10%">
               <form class="form-inline" action = "/user_registration/" method="post" id="form_login">
				      {% csrf_token %}
                  <div class="form-group">
                     <label style="padding-right: 5px">First Name:</label>
                     <input class = "form-control col-md-2" type="text" name="firstname" style = "margin-right: 3%" required>
                     <label style="padding-right: 5px">Middle Name (Optional):</label>
                     <input class = "form-control col-md-2" type="text" name="middlename" style = "margin-right: 3%">
                     <label style="padding-right: 5px">Last Name:</label>
                     <input class = "form-control col-md-2" type="text" name="lastname" style = "margin-right: 3%" required>  
                  </div>
                  <br>
                  <div class="form-group">
                     <label style="padding-right: 5px">Email:</label>
    				      <input class = "form-control" type="email" name="email" style = "margin-right: 3%" required>
                     <label style="padding-right: 5px">Contact (Mobile):</label>
                     <input class = "form-control col-md-2" type="tel" pattern="[0-9]{10}" name="contact" style = "margin-right: 3%" required>
                  </div>
                  <br>
                  <div class="form-group">
                     <label style="padding-right: 5px">Graduation Year:</label>
                     <input class = "form-control col-md-2" type="month" name="graduation" style = "margin-right: 3%" required>
                     <label style="padding-right: 5px">Branch (Optional):</label>
                     <input class = "form-control col-md-2" type="text" name="branch" style = "margin-right: 3%">
                     <label style="padding-right: 5px">Company (Optional):</label>
                     <input class = "form-control col-md-2" type="text" name="company" style = "margin-right: 3%">  
                  </div>
                  <br>
                  <div class="form-group">
                     <label style="padding-right: 5px">Aadhar No.:</label>
    				      <input class = "form-control" type="text" pattern="[0-9]{12}" name="idproof" style = "margin-right: 3%" required>
                     <label style="padding-right: 5px">Linked URL (Optional):</label>
                     <input class = "form-control col-md-2" type="url" name="linkedinurl" style = "margin-right: 3%">
                  </div>
                  <br>
                  <div class="form-group">
                     <label style="padding-right: 5px">Password:</label>
    				      <input class = "form-control" type="password" name="password1" style = "margin-right: 3%" required>
                     <label style="padding-right: 5px">Confirm Password:</label>
                     <input class = "form-control col-md-2" type="password" name="password2" style = "margin-right: 3%" required>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-black">Register</button>
               </form>
            </div>
         </div>
      </div>
  </main>
</body>
</html>
