{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead bg-white text-dark text-center">        
            <div class="bg-darker bg-position-center" >
        
            <!-- <picture> -->
                <!-- <source srcset="cover.jpeg"> -->
                <!-- <source srcset="cover.jpeg"> -->
                <!-- <img src="cover.jpeg" alt="Beatles" style="width:auto;"> -->
            <!-- </picture> -->

                <!-- Masthead Avatar Image-->
                <div class="img-wrapper">
                    <img class="masthead-avatar mb-5" src="{{ profilePicurl }}" width="200" height="250" alt="add profile picture"/>
                </div>
                <form action="/changeProfilePicture/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <input id="upload" type="file" name="profilePic"/>
                        <button type="submit" class="btn" style="background-color: #000; color: #fff;">Change</button>
                    </div>
                </form>
            </div>
            <br>
        
            <div>
                <a href = "/editProfile/" type="button" class="btn" style="background-color: #000; color: #fff;">Edit Profile</a>            
            </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                
                <!-- Masthead Subheading-->
                <h2 class="masthead-heading mb-0"><h1>{{ firstName }} {{ lastName }}</h1>
                </h2>

                <p class="masthead-subheading font-weight-light mb-0">{{ bio }}</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        {% comment %} <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-dark text-uppercase text-secondary mb-0">Posts</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    
                </div>
            </div>
        </section> {% endcomment %}
        <!-- About Section-->
        <section class="page-section portfolio mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-dark text-uppercase">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="container" style="font-size: 1.2rem;">
                    <div class="row">
                        <span class="col-md-4"><strong>First Name:</strong> {{ firstName }}</span>
                        <span class="col-md-4"><strong>Middle Name:</strong> {{ middleName }}</span>
                        <span class="col-md-4"><strong>Last Name:</strong> {{ lastName }}</span>
                    </div>
                    <br>
                    <div class="row">
                        <span class="col-md-4"><strong>Username:</strong> {{ username }}</span>
                        <span class="col-md-4"><strong>Email:</strong> {{ email }}</span>
                        <span class="col-md-4"><strong>Contact:</strong> {{ contact }}</span>
                    </div>
                    <br>
                    <div class="row">
                        <span class="col-md-4"><strong>Branch:</strong> {{ branch }}</span>
                        <span class="col-md-4"><strong>Company:</strong> {{ company }}</span>
                        <span class="col-md-4"><strong>Graduation:</strong> {{ graduation }}</span>
                    </div>
                    <br>
                    <div class="row">
                        {% comment %} <span class="col-md-4"><strong>Id Proof:</strong> {{ idProof }}</span> {% endcomment %}
                        <span class="col-md-4"><strong>LinkedIn URL:</strong> {{ linkedinUrl }}</span>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{% endblock content %}